# 常用代理服务器弱密码字典
# 每行一个密码，井号(#)开头的行为注释

# 空密码（一些代理不需要密码）

# 极弱密码
admin
root
password
123456
12345678
1234
qwerty
123123
111111
abc123
test
guest

# 常见组合密码
admin123
Admin123
root123
Root123
pass123
password123
qwerty123
123qwerty
test123
guest123
proxy123
Proxy123

# 特定代理软件默认密码
squid
nginx
apache
3proxy
CCProxy
dante
privoxy
shadowsocks
v2ray
tor
polipo

# 年份密码
2023
2022
2021

# 特殊组合
P@ssw0rd
p@ssw0rd
Admin@123
Root@123
Qwerty@123
admin@123
root@123
proxy@123
Welcome123
welcome123 